* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-y: scroll;
}

.topnav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(rgb(255, 255, 255), #6a757e);
}

.topnav .links {
  flex: 5;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  text-align: right;
}

.topnav .name {
  flex: 1;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  color: black;
  font-weight: bold;
  font-size: large;
}

.topnav a {
  color: #525252;
  padding-left: 5%;
  text-decoration: none;
  font-size: 17px;
}

.topnav .links a:hover {
  color: grey;
}

.topnav .links a.active {
  color: black;
  font-weight: bold;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100vh;
  margin: auto;
}

.text {
  flex-direction: column;
  padding-bottom: 40px;
}

#home .image img {
  display: block;
  width: auto;
  height: auto;
  max-width: 250px;
  margin-bottom: 25px;
  margin-right: 35px;
  border-radius: 15%;
}

#home p,
h2 {
  margin: 0px 5% 5% 0px;
}

#home .logo-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

#home .logo-list img {
  width: 20px;
  margin: 0;
  height: auto;
}
