* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-y: scroll;
}

.topnav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  background-color: whitesmoke;
}

.topnav .links {
  flex: 5;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  text-align: right;
}

.topnav .name {
  flex: 1;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  color: black;
  font-weight: bold;
  font-size: large;
}

.topnav a {
  color: #525252;
  padding-left: 5%;
  text-decoration: none;
  font-size: 17px;
}

.topnav .links a:hover {
  color: grey;
}

.topnav .links a.active {
  color: black;
  font-weight: bold;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100vh;
  margin: auto;
}

.text {
  flex-direction: column;
}

#home img {
  width: 75%;
  height: 25%;
  max-width: 200px;
  margin: 0px 5%;
}

#home p,
h2 {
  margin: 0px 5% 5% 0px;
  align-self: flex-start;
}
