html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-y: scroll;
}

.topnav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(#6a757e, white);
}

.topnav .links {
  flex: 5;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  text-align: right;
}

.topnav .name {
  flex: 1;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  color: black;
  font-weight: bold;
  font-size: large;
}

.topnav a {
  color: black;
  font-weight: bold;
  padding-left: 5%;
  text-decoration: none;
  font-size: 17px;
}

.topnav .links a:hover {
  color: grey;
}

#home {
  transition-duration: 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100vh;
  margin: auto;
}

.text {
  flex-direction: column;
  padding-bottom: 40px;
}

#home .image img {
  display: block;
  width: auto;
  height: auto;
  max-width: 250px;
  margin-bottom: 25px;
  margin-right: 35px;
  border-radius: 15%;
}

#home p,
h2 {
  margin-bottom: 5%;
}

#home .logo-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  padding: 0;
  margin-right: 10px;
}

#home .logo-list img {
  width: 20px;
  margin: 0;
  height: auto;
}

#projects-title {
  text-align: center;
  margin-bottom: 30%;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 25vh;
  margin: auto;
  margin-bottom: 30%;
}

.project img {
  display: block;
  width: auto;
  height: auto;
  min-width: 150px;
  max-width: 250px;
  margin: auto 35px 25px 35px;
  border-radius: 15%;
}

.footer {
  display: flex;
}

.social-media-logos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 0;
  margin: auto;
  margin-bottom: 5%;
}

h3 {
  margin-bottom: 100px;
}

.social-media-logos img {
  width: auto;
  height: auto;
  min-width: 15px;
  max-width: 45px;

  margin-bottom: 20px;
  height: auto;
}
